<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<div class="container">
  <%= form_for :category_parameters, url: reset_category_exceptions_path , html: {class: "form-inline", role: "form"} do |form| %>
    <div class="form-group">
      <%= form.select :product_categories, @product_categories.collect {|pc| [pc.name, pc.id]}, {}, {multiple: true, class: "form-control chosen-select"} %>
      <script type="text/javascript">
        $('#category_parameters_product_categories').chosen({search_contains: true});
      </script>
    </div>
    <div class="form-group">
      <%= form.select :location_groups, @location_groups.collect {|lg| [lg.name, lg.id]},{}, {multiple: true, class: "form-control chosen-select"}  %>
      <script type="text/javascript">
        $('#category_parameters_location_groups').chosen({search_contains: true});
      </script>
    </div> 
    <div class="form-group">
      <%= submit_tag "Reset Category Summary", class: "btn btn-default" %>
    </div>
  <% end %>
</div>
<div id="exception-chart-div" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>


<script type="text/javascript">
  $(function () {
    $('#exception-chart-div').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Exception By Category'
        },
        xAxis: {
            categories: ['Source', 'Move', 'Store', 'Deliver'],
            title: {
                text: null
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Exception Count',
                align: 'high'
            },
            labels: {
                overflow: 'justify'
            }
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            x: -40,
            y: 100,
            floating: true,
            borderWidth: 1,
            backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
            shadow: true
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Exception Counts',
            data: [<%= @source_exceptions.count %>, <%= @move_exceptions.count %>, <%= @store_exceptions.count %>, <%= @deliver_exceptions.count %>]}]
    });
  });

</script>
