
<div id="chart_form">
<%= form_for :map_parameters, url: reset_map_path do |form| %>
  <%= render partial: "shared/product_form_auto", locals: {form: form, form_element_id: "map_product_name"} %>
  <%= submit_tag "Reset Map" %>
<% end %>
</div>
<h4>Exceptions for product <%= @map_product.name %></h4>
<div id="chart_div" style="width: 900px; height: 500px; align: center"></div>
<script type='text/javascript' src='https://www.google.com/jsapi'></script>
<script type='text/javascript'>
  google.load('visualization', '1', {'packages': ['geochart']});
  google.setOnLoadCallback(drawMarkersMap);

  function drawMarkersMap() {

    var data = new google.visualization.DataTable();
    data.addColumn('number', 'Latitude');
    data.addColumn('number', 'Longitude');
    data.addColumn('string', 'Loc Code');
    data.addColumn('number', 'Exception Count');
    data.addColumn('number', 'Percentage at Risk');

    <% @locations.each do |loc| %>
      <% if loc.latitude and loc.longitude %>
        data.addRow([ <%= loc.latitude %>, <%= loc.longitude %>, '<%= loc.code %>', <%= loc.inbound_exceptions(product_id: @map_product.id).count %>, <%= loc.percentage_inbound_quantity_at_risk(product_id: @map_product.id) %>]);
      <% end %>
    <% end %>

    var options = {
      backgroundColor: {strokeWidth: 3},
      displayMode: 'markers',
      magnifyingGlass: {enable: true, zoomFactor: 5.0},
      colorAxis: {colors: ['green','yellow' ,'red']}
    };

    var chart = new google.visualization.GeoChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  };
</script>

