<div class="row">
  <div class="col-lg-4">
    <select class="form-control chosen-select" id="org_location_groups" multiple="multiple" name="location_groups[]" data-placeholder="Select Location Groups">
      <% @location_groups.each do |location_group| %>
        <option value="<%= location_group.id %>"><%= location_group.name %></option>
      <% end %>
    </select>
    <script type="text/javascript">
      $("#org_location_groups").chosen({search_contains: true});
    </script>
  </div>
  <div class="col-lg-4">
    <select class="form-control chosen-select" id="org_product_categories" multiple="multiple" name="product_categories[]" data-placeholder="Select Product Categories">
      <% @product_categories.each do |product_category| %>
        <option value="<%= product_category.id %>"><%= product_category.name %></option>
      <% end %>
    </select>
    <script type="text/javascript">
      $("#org_product_categories").chosen({search_contains: true});
    </script>
  </div>
  <button type="button" class="btn btn-primary" onclick="javacript:getFilteredExceptions()">Filter</button>
</div>
<script type="text/javascript">
  function getFilteredExceptions() {
 
    var url = "/recalculate_org_exceptions";
    var prodCats = $('#org_product_categories').val();
    var locGroups = $('#org_location_groups').val();
    if (locGroups !== null && prodCats !== null) {
      url += "?org_product_categories=" + prodCats + "&org_location_groups=" + locGroups;
    }
    else if (locGroups == null && prodCats !== null) {
      url += "?org_product_categories=" + prodCats;
    }
    else if (locGroups !== null && prodCats == null){
      url += "?org_location_groups=" + locGroups;
    }
    $.get(url, function(data){
      var chart = $('#org_exception_container').highcharts();
      var newData;
       if (typeof(data) != "object") {
         newData = $.parseJSON(data);
       } else {
         newData = data;
       }
       $.each(chart.series, function( index, value ) {
          chart.series[index].setData(newData[index].data);
        }); 
    });
  }

</script>


<div id="org_exception_container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<script type="text/javascript">
$(function () {
    $('#org_exception_container').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Supply Chain Status'
        },
        xAxis: {
            categories: ['Source', 'Make', 'Move', 'Store', 'Deliver']
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Total quantity'
            }
        },
        legend: {
            reversed: true
        },
        plotOptions: {
            series: {
                stacking: 'normal'
            }
        },
        series: [{
            name: 'Exception Quantity',
            data: [<%= @user_org.source_exception_quantity%>, 
				  <%= @user_org.make_exception_quantity %>,
				  <%= @user_org.move_exception_quantity %>, 
				  <%= @user_org.store_exception_quantity %>, 
				  <%= @user_org.deliver_exception_quantity %>]
            }, {
            name: 'On Schedule Quantity',
            data: [<%= @user_org.inbound_order_quantity - @user_org.source_exception_quantity%>,   
                   <%= @user_org.work_order_quantity - @user_org.source_exception_quantity %>,
                   <%= @user_org.inbound_shipment_quantity - @user_org.move_exception_quantity %>,
                   <%= @user_org.inventory_projection_quantity - @user_org.store_exception_quantity %>,
                   <%= @user_org.outbound_order_quantity - @user_org.deliver_exception_quantity %>
            ] }]
    });
});

</script>
