<% content_for :head do %>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<% end %>
<div id="prod_cat_exceptions_container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<script type="text/javascript">
$(function () {
    $('#prod_cat_exceptions_container').highcharts({
        title: {
            text: 'Exceptions by Product Category'
        },
        xAxis: {
            categories: ['Source', 'Make', 'Move', 'Store', 'Deliver']
        },
        series: [
         <% @product_categories.each do |pc| %>
         {
           type: 'column',
           name: '<%= pc.name %>',
           data: [<%= pc.source_exception_quantity.to_i %>, <%= pc.make_exception_quantity.to_i %>, <%= pc.move_exception_quantity.to_i %>, <%= pc.store_exception_quantity.to_i %>, <%= pc.deliver_exception_quantity.to_i %>]
         }
         <% unless pc == @product_categories.last %>
           ,
         <% end %>
       <% end %>
        ],
        plotOptions: {
            series: {
              cursor: 'pointer', 
              point: {
                events:{ 
                  click: function () {
                    var s = '/product_category_view?product_category_summary%5Bproduct_category_name%5D=' + this.series.name + '&amp;product_category_summary%5Bexception_category%5D=' + this.category;
                    location.href = s;
                  }
                }
              } 
            }
        }
    });
});

</script>

