<%  content_for :head do %>
  <%= javascript_include_tag "chosen-jquery" %>
<% end %>
<h1>Welcome to SCV</h1>
  <div class="container-fluid">
    <%= render partial: "map_chart" %>
  </div>
  <br \><br \>
  <div class="container-fluid">
    <%= render partial: "product_cat_log_group_matrix" %>
  </div> 
  <div class="container-fluid">
    <%= render partial: "product_category_exceptions" %>
  </div>
  <div class="container-fluid">
    <%= render partial: "location_group_exceptions" %>
  </div>
  <div class="container-fluid">
    <%= render partial: "product_category_exception_type" %>
  </div>
  <div class="container-fluid">
    <%= render partial: "location_group_exception_type" %>
  </div>
