<%= form_for(@shipment_line) do |f| %>
  <% if @shipment_line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shipment_line.errors.count, "error") %> prohibited this shipment_line from being saved:</h2>

      <ul>
      <% @shipment_line.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :shipment_line_number %><br>
    <%= f.text_field :shipment_line_number %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.text_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :eta %><br>
    <%= f.date_select :eta %>
  </div>
  <div class="field">
    <%= f.label :etd %><br>
    <%= f.date_select :etd %>
  </div>
  <div class="field">
    <%= f.label :origin_location_id %><br>
    <%= f.number_field :origin_location_id %>
  </div>
  <div class="field">
    <%= f.label :destination_location_id %><br>
    <%= f.number_field :destination_location_id %>
  </div>
  <div class="field">
    <%= f.label :order_line_id %><br>
    <%= f.number_field :order_line_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
