<style type="text/css">
  .sigmacontainer {
    position: absolute;
    width: 70%;
    height: 10%;
  }
</style>
<% max_length = 10.0 %>
<% offset = (max_length*0.2)/2 %>
<%@graphs.each do |graph| %>
  <div class="alert alert-warning">
    <div id="<%= graph.graph_id%>" class="sigmacontainer">
    </div>
    <p><strong>Origin Location: </strong> <%= graph.nodes.first.location.name %></p>
    <p><strong>Final Destination Location: </strong> <%= graph.nodes.last.location.name %></p>
    <p><strong>ETD: </strong> <%= graph.edges.first.shipment.etd.to_formatted_s(:short) %></p>
    <p><strong>ETA: </strong> <%= graph.edges.last.shipment.eta.to_formatted_s(:short) %></p>
  </div>
  <script type="text/javascript">

  var <%= graph.graph_id %>= {nodes: [], edges: []};
   
  <% x_pos = offset %>
  <% dx = (max_length-2*offset)/(graph.nodes.count - 1) %>
    // Then, let's add some data to display:
  <% graph.nodes.each do |node| %>
    <%= graph.graph_id %>.nodes.push({
        id: '<%= node.node_id %>',
        label: '<%= node.node_label %>',
        size: 1,
        color: '#734f4f',
        x: <%= x_pos %>,
        y: 2
    });
    <% x_pos += dx %>
  <% end %>

  <% graph.edges.each do |edge| %>
    <%= graph.graph_id %>.edges.push({
        id: '<%= edge.edge_id %>',
        source: '<%= edge.source %>',
        target: '<%= edge.target %>', 
        color: '<%= edge.color %>' 
    });
  <% end %>

  var <%= "s" + graph.graph_id %> = new sigma({graph: <%= graph.graph_id %>, container: '<%= graph.graph_id %>'});
    // Finally, let's ask our sigma instance to refresh:
  <%= "s" + graph.graph_id %>.refresh();
  </script>
 
  <br \><br \><br \><br \>
<% end %>
