<h1>Edit Ship Line <h1>
        <h3> Enter Updated Ship Line Details</h3>
        <%= render partial: "shipment_line_errors" %>
        <%= form_for @shipment_line, html: {class: "form-horizontal"} do |form| %>
          <%= render partial: 'shipment_line', locals: {form: form} %>
          <%= submit_tag "Update Shipment Line", class: "btn btn-primary" %>
        <% end %>

<br /><br />
<%= link_to "Shipment Lines Search Page", lookup_shipment_lines_path %> | <%= link_to "Shipment Line Details", shipment_line_path(@shipment_line) %>


