<h1> Ship Lines </h1>
<% if @shipment_lines.empty? %>
  <p> No Ship Lines have been created</p>
<% else %>
  <table class="table table-striped">
    <tr><th>Shipment Reference </th> <th>ETA</th> <th>ETD</th> <th>Product</th><th>Quantity</th> <th>Origin Location </th> <th>Destination Location</th></tr>
    <% @shipment_lines.each do |shipment_line| %>
       <tr><td><%= shipment_line.object_reference_number    %></td>
           <td><%= shipment_line.eta.to_s                   %></td>
           <td><%= shipment_line.etd.to_s                   %></td>
           <td><%= shipment_line.product.name               %></td>
           <td><%= shipment_line.quantity                   %></td>
           <td><%= shipment_line.origin_location.try(:name)       %></td>
           <td><%= shipment_line.destination_location.try(:name)  %></td>
	   <td><%= link_to "Details", shipment_line_path(shipment_line)	%></td>
	   <td><%= link_to "Edit", edit_shipment_line_path(shipment_line) %></td>
       </tr>
    <% end %>
    </table>
<% end %>
    <br \> <br\>
    <%= link_to "Add New Shipment Line", new_shipment_line_path %>
   <br \> <br\>
             

