<h1> Ship Lines </h1>
<div class="container-fluid">
<%= form_for :shipment_line, url: lookup_shipment_lines_path, html: {class: "form-horizontal"}   do |form| %>
  <div class="form-group">
    <%= render partial: "shared/reference_number_autocomplete", locals: {form: form, movement_sources: @all_shipment_lines, object_reference_number: "shipment_line_number", source_type: "shipment_line"} %>
    <%= render partial: "shared/product_autocomplete", locals: {form: form} %>
    <%= form.label "Origin Location", class: "col-sm-1 control-label" %>
    <div class="col-sm-2">
      <%= form.select :origin_location_id, @locations.collect {|loc| [loc.name, loc.id]}, {include_blank: true}, {class: "form-control"} %>
    </div>
    <%= form.label "Destination Location" , class: "col-sm-1 control-label" %>
    <div class="col-sm-2">
      <%= form.select :destination_location_id,  @locations.collect {|loc| [loc.name, loc.id]}, {include_blank: true}, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label "Carrier" , class: "col-sm-1 control-label"%>
    <div class="col-sm-2">
      <%= form.select :carrier_organization_id, @organizations.collect {|org| [org.name, org.id]}, {include_blank: true}, {class: "form-control"} %>
    </div>
    <%= form.label "Forwarder" , class: "col-sm-1 control-label"%>
    <div class="col-sm-2">
      <%= form.select :forwarder_organization_id, @organizations.collect {|org| [org.name, org.id]}, {include_blank: true}, {class: "form-control"} %>
    </div>
    <%= form.label "Customer" , class: "col-sm-1 control-label"%>
    <div class="col-sm-2">
      <%= form.select :customer_organization_id, @organizations.collect {|org| [org.name, org.id]}, {include_blank: true}, {class: "form-control"} %>
    </div>
    <%= form.label "Mode", class: "col-sm-1 control-label" %>
    <div class="col-sm-2">
      <%= form.select :mode, ShipmentLine.modes.collect {|mode| [mode, mode]}, {include_blank: true}, {class: "form-control"} %>
    </div>
  </div>
  <div class="form-group">  
    <div class="col-sm-1"></div>
    <div class="col-sm-2">
      <%= submit_tag "Search", {class: "btn btn-primary"} %>
    </div>
  </div>
<% end %>
</div>
<br \>
<hr>
<br \>

<% if request.post? %>
  <% if @shipment_lines.empty? %>
    <p> No Ship Lines have been created</p>
  <% else %>
    <table class="table table-striped">
      <tr><th>Shipment Reference </th> <th>Mode</th> <th>ETA</th> <th>ETD</th> <th>Product</th><th>Quantity</th> <th>Origin Location </th> <th>Destination Location</th></tr>
      <% @shipment_lines.each do |shipment_line| %>
        <tr><td><%= shipment_line.shipment_line_number    	%></td>
	    <td><%= shipment_line.mode				%></td>
            <td><%= shipment_line.eta.to_formatted_s(:short)                   %></td>
            <td><%= shipment_line.etd.to_formatted_s(:short)                   %></td>
            <td><%= shipment_line.product.name               %></td>
            <td><%= shipment_line.quantity                   %></td>
            <td><%= shipment_line.origin_location.try(:name)       %></td>
            <td><%= shipment_line.destination_location.try(:name)  %></td>
	    <td><%= link_to "Details", shipment_line_path(shipment_line)	%></td>
	    <td><%= link_to "Edit", edit_shipment_line_path(shipment_line) %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
<% end %>
<br \> <br\>
<%= link_to "Add New Ship Line", new_shipment_line_path %>
<br \> <br\>
<%= link_to "Main Menu", main_index_path            %>                   

