<h1> Order Lines</h1>

<div class="container-fluid">

<select id="form_criteria">
  <option value="shipment_line_number">Shipment Line Number</option>
  <option value="product">Product</option>
  <option value="origin_location">Origin Location</option>
  <option value="destination_location">Destination Location</option>
  <option value="carrier">Carrier</option>
  <option value="forwarder">Forwarder</option>
  <option value="customer">Customer</option>
  <option value="mode">Mode</option>
</select> 
<button type="button" class="btn btn-primary" onclick="addCriteria()">
  <span class="glyphicon glyphicon-plus">
</button>

<%= form_for :shipment_line, url: lookup_shipment_lines_path, html: {class: "form-horizontal", id: "search_form"}   do |form| %>
  <%= form.hidden_field :is_active, value: true %>
  <%= form.submit "Search", {class: "btn btn-primary", id: "submit_search_form"} %>
<% end %>
</div>
<br \>
<hr>
<br \>
<% if request.post? %>

  <% if @shipment_lines.empty? %>
    <p>No Shipment Lines have been created yet.</p>
  <% else %>
    <table class="table table-striped">
      <tr><th>Shipment Reference </th> <th>Mode</th> <th>ETA</th> <th>ETD</th> <th>Product</th><th>Quantity</th> <th>Origin Location </th> <th>Destination Location</th></tr>
      <% @shipment_lines.each do |shipment_line| %>
        <tr><td><%= shipment_line.shipment_line_number          %></td>
            <td><%= shipment_line.mode                          %></td>
            <td><%= shipment_line.eta.to_formatted_s(:short)                   %></td>
            <td><%= shipment_line.etd.to_formatted_s(:short)                   %></td>
            <td><%= shipment_line.product.name               %></td>
            <td><%= shipment_line.quantity                   %></td>
            <td><%= shipment_line.origin_location.try(:name)       %></td>
            <td><%= shipment_line.destination_location.try(:name)  %></td>
            <td><%= link_to "Details", shipment_line_path(shipment_line)        %></td>
            <td><%= link_to "Edit", edit_shipment_line_path(shipment_line) %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
<% end %>
<br /> <br />
<%= link_to "Create New Order Line", new_order_line_path %>
<br /> <br />

<script type="text/javascript">
 
  function checkExistingElement(form_element) {
    var form_selector = '#' + form_element;
    if ( $(form_selector).length == 0)
    {
      return false;
    }
    else
    {
      return true;
    }
  }
 
  function addCriteria() {
    var criteriaType = $('#form_criteria').val();
	switch(criteriaType) {
	  case "shipment_line_number":
	    addShipmentLineCriteria();
            break;
	  case "product":
	    addProductCritera();
            break;
	  case "origin_location":
	    addOriginLocationCriteria();
            break;
	  case "destination_location":
	    addDestinationLocationCriteria();
            break;
	  case "carrier":
	    addCarrierCriteria();
            break;
          case "forwarder":
            addForwarderCriteria();
            break;
	  case "customer":
	    addCustomerCriteria();
            break;
          case "mode":
            addModeCriteria();
            break;
	}
  }
  
  function addShipmentLineCriteria() {

    var elementExists = checkExistingElement('order_line_order_line_number');
    if (elementExists) {
      null;
    }
    else {    
      var htmlToAdd = '<div class="form-group" id="shipment_line_div"><label class="col-sm-2 control-label" for="shipment_line_Line Number">Line number</label><div class="col-sm-2"><input class="form-control" id="shipment_line_shipment_line_number" name="shipment_line[shipment_line_number]" type="text" /></div><button type="button" class="btn btn-warning" onclick="removeCriteria(\'shipment_line_div\')"><span class="glyphicon glyphicon-minus"></button></div>';
      $('#search_form').append(htmlToAdd);
      var movement_sources = [
      <% @all_shipment_lines.each do |sl| %>
          "<%= sl.shipment_line_number %>",
      <% end %>
      ""];
      $( "#shipment_line_shipment_line_number" ).autocomplete({source: movement_sources});
    }
  }

  function addProductCritera() {
    var elementExists = checkExistingElement('product_names');
    if (elementExists) {
      null;
    }
    else {
      var htmlToAdd = '<div class="form-group" id="product_div"><label class="col-sm-2 control-label" for="shipment_line_Product Name">Product name</label><div class="col-sm-2"><input class="form-control" id="product_names" name="shipment_line[product_name]" type="text" /></div><button type="button" class="btn btn-warning" onclick="removeCriteria(\'product_div\')"><span class="glyphicon glyphicon-minus"></button></div>';
      $('#search_form').append(htmlToAdd);
      var product_names = [
      <% @products.each do |product| %>
        "<%= product.name %>",
      <% end %>
    ""];
    $( "#product_names" ).autocomplete({source: product_names});
    } 
  }
  
  function addOriginLocationCriteria() {
    var elementExists = checkExistingElement('shipment_line_origin_location_id');
    if (elementExists) {
      null;
    }
    else {
      var htmlToAdd = '<div class="form-group" id="shipment_location_div"><label class="col-sm-2 control-label" for="shipment_line_Origin Location">Origin location</label><div class="col-sm-2"><select class="form-control" id="shipment_line_origin_location_id" name="shipment_line[origin_location_id]">';
      <% @locations.each do |location| %>
        htmlToAdd += '<option value="' + '<%= location.id.to_s %>' + '">' + '<%= location.name %>' + '</option>';
      <% end %>
      htmlToAdd += '</select></div><button type="button" class="btn btn-warning" onclick="removeCriteria(\'origin_location_div\')"><span class="glyphicon glyphicon-minus"></button></div>';
      $('#search_form').append(htmlToAdd);
    }
  }
  
  function addDestinationLocationCriteria() {
    var elementExists = checkExistingElement('shipment_line_destination_location_id');
    if (elementExists) {
      null;
    }
    else {
      var htmlToAdd = '<div class="form-group" id="destination_location_div"><label class="col-sm-2 control-label" for="shipment_line_Destination Location">Destination location</label><div class="col-sm-2"><select class="form-control" id="shipment_line_destination_location_id" name="shipment_line[destination_location_id]">';
      <% @locations.each do |location| %>
        htmlToAdd += '<option value="' + '<%= location.id.to_s %>' + '">' + '<%= location.name %>' + '</option>';
      <% end %>
      htmlToAdd += '</select></div><button type="button" class="btn btn-warning" onclick="removeCriteria(\'destination_location_div\')"><span class="glyphicon glyphicon-minus"></button></div>';
      $('#search_form').append(htmlToAdd);	
    }
  }

  function addCarrierCriteria() {
    var elementExists = checkExistingElement('shipment_line_carrier_organization_id');
    if (elementExists) {
      null;
    }
    else {
      var htmlToAdd = '<div class="form-group" id="carrier_div"><label class="col-sm-2 control-label" for="shipment_line_Carrier">Carrier</label><div class="col-sm-2"><select class="form-control" id="shipment_line_carrier_organization_id" name="shipment_line[carrier_organization_id]">';
      <% @organizations.each do |org| %>	  
        htmlToAdd +=  '<option value="' + '<%= org.id.to_s %>' + '">' + '<%= org.name %>' + '</option>';   
      <% end %>
      htmlToAdd += '</select></div><button type="button" class="btn btn-warning" onclick="removeCriteria(\'carrier_div\')"><span class="glyphicon glyphicon-minus"></button></div>';
      $('#search_form').append(htmlToAdd);	
    }
  }

  function addForwarderCriteria() {
    var elementExists = checkExistingElement('shipment_line_forwarder_organization_id');
    if (elementExists) {
      null;
    }
    else {
      var htmlToAdd = '<div class="form-group" id="forwarder_div"><label class="col-sm-2 control-label" for="shipment_line_Forwarder">Forwarder</label><div class="col-sm-2"><select class="form-control" id="shipment_line_forwarder_organization_id" name="shipment_line[forwarder_organization_id]">';
      <% @organizations.each do |org| %>
        htmlToAdd +=  '<option value="' + '<%= org.id.to_s %>' + '">' + '<%= org.name %>' + '</option>';
      <% end %>
      htmlToAdd += '</select></div><button type="button" class="btn btn-warning" onclick="removeCriteria(\'forwarder_div\')"><span class="glyphicon glyphicon-minus"></button></div>';
      $('#search_form').append(htmlToAdd);
    }
  }
  
  function addCustomerCriteria() {
    var elementExists = checkExistingElement('shipment_line_customer_organization_id');
    if (elementExists) {
      null;
    }
    else {
      var htmlToAdd = '<div class="form-group" id="customer_div"><label class="col-sm-2 control-label" for="shipment_line_Customer">Customer</label><div class="col-sm-2"><select class="form-control" id="shipment_line_customer_organization_id" name="shipment_line[customer_organization_id]">';
      <% @organizations.each do |org| %>	  
        htmlToAdd +=  '<option value="' + '<%= org.id.to_s %>' + '">' + '<%= org.name %>' + '</option>';   
      <% end %>
      htmlToAdd += '</select></div><button type="button" class="btn btn-warning" onclick="removeCriteria(\'customer_div\')"><span class="glyphicon glyphicon-minus"></button></div>';
      $('#search_form').append(htmlToAdd);		  
    }
  }

  function addModeCriteria() {
    var elementExists = checkExistingElement('shipment_line_mode');
    if (elementExists) {
      null;
    }
    else {
      var htmlToAdd = '<div class="form-group" id="mode_div"><label class="col-sm-2 control-label" for="shipment_line_Mode">Mode</label><div class="col-sm-2"><select class="form-control" id="shipment_line_mode" name="shipment_line[mode]">';
      <% ShipmentLine.modes.each do |md| %>
        htmlToAdd +=  '<option value="' + '<%= md %>' + '">' + '<%= md %>' + '</option>';
      <% end %>
      htmlToAdd += '</select></div><button type="button" class="btn btn-warning" onclick="removeCriteria(\'mode_div\')"><span class="glyphicon glyphicon-minus"></button></div>';
      $('#search_form').append(htmlToAdd);
    }
  }


  function removeCriteria(form_element) {
    var form_selector = '#' + form_element;
    $(form_selector).remove();
  }

  
</script>
