<h1>Add Ship Line </h1>
	<h3> Enter Ship Line Details</h3>
	<%= render partial: "shipment_line_errors" %>
	<%= form_for @shipment_line, html: {class: "form-horizontal"} do |form| %>
       	  <%= render partial: 'shipment_line', locals: {form: form} %>
	  <%= submit_tag "Create Ship Line", class: "btn btn-primary" %>
        <% end %>

<br /><br />
<%= link_to "Return to Shipment Lines", lookup_shipment_lines_path %>


