<%= form_for(@scv_exception, html: {class: "form-horizontal"}) do |f| %>
  <% if @scv_exception.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scv_exception.errors.count, "error") %> prohibited this scv_exception from being saved:</h2>

      <ul>
      <% @scv_exception.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :exception_type, class: "col-sm-2 control-label" %>
    <div class="col-xs-4">
      <%= f.select :exception_type, ScvException.exception_types.collect {|exc_type| [exc_type, exc_type]}, {}, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :priority, class: "col-sm-2 control-label" %> 
    <div class="col-xs-4">
      <%= f.select :priority, ScvException.priorities.collect {|prty| [prty, prty]}, {}, class: "form-control" %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :affected_object_type, class: "col-sm-2 control-label" %>
    <div class="col-xs-4">
      <%= f.select :affected_object_type, [["Shipment Line", "ShipmentLine"], ["Order Line", "OrderLine"], ["Inventory Projection", "InventoryProjection"]], {}, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :affected_object_reference , class: "col-sm-2 control-label" %>
    <div class="col-xs-4">
      <%= f.text_field :affected_object_reference_number, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :affected_object_quantity_type, class: "col-sm-2 control-label" %>
    <div class="col-xs-4">
      <%= f.select :affected_object_quantity_type, [["Quantity", "quantity"]], {}, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :affected_object_quantity, class: "col-sm-2 control-label" %>
    <div class="col-xs-4">
      <%= f.text_field :affected_object_quantity, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :affected_object_date_type, class: "col-sm-2 control-label" %>
    <div class="col-xs-4">
      <%= f.select :affected_object_date_type, [["ETA", "eta"], ["ETD", "etd"]], {}, class: "form-control" %>
    </div>
  </div>


  <div class="form-group">
    <%= f.label :affected_object_date, class: "col-sm-2 control-label" %>
    <div class="col-xs-4">
      <%= f.text_field :affected_object_date, class: "form-control" %>
      <script>
        $( "#scv_exception_affected_object_date" ).datepicker({minDate: 0, dateFormat: "yy-mm-dd"});
      </script>
    </div>
  </div>


  <div class="form-group">
    <%= f.label :cause_object_type, class: "col-sm-2 control-label" %>
    <div class="col-xs-4">
      <%= f.select :cause_object_type, [["Milestone", "milestone"],["Shipment Line", "ShipmentLine"], ["Order Line", "OrderLine"], ["Inventory Projection", "InventoryProjection"]], {}, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :cause_object_reference , class: "col-sm-2 control-label" %>
    <div class="col-xs-4">
      <%= f.text_field :cause_object_reference_number, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :cause_object_quantity_type, class: "col-sm-2 control-label" %>
    <div class="col-xs-4">
      <%= f.select :cause_object_quantity_type, [["Quantity", "quantity"]], {}, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :cause_object_quantity, class: "col-sm-2 control-label" %>
    <div class="col-xs-4">
      <%= f.text_field :cause_object_quantity, class: "form-control" %>
    </div>
  </div>


  <div class="form-group">
    <%= f.label :cause_object_date_type, class: "col-sm-2 control-label" %>
    <div class="col-xs-4">
      <%= f.select :cause_object_date_type, [["ETA", "eta"], ["ETD", "etd"]], {}, class: "form-control" %>
    </div>
  </div>


  <div class="form-group">
    <%= f.label :cause_object_date, class: "col-sm-2 control-label" %>
    <div class="col-xs-4">
      <%= f.text_field :cause_object_date, class: "form-control" %>
      <script>
        $( "#scv_exception_cause_object_date" ).datepicker({minDate: 0, dateFormat: "yy-mm-dd"});
      </script>
    </div>
  </div>


  <div class="form-group">
    <%= f.submit %>
  </div>
<% end %>
