<div id="newFilter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	        <span aria-hidden="true"> &times; </span>
	      </button>
        <h4 class="modal-title">New Filter </h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" id="newFilterForm">
	        <div class="form-group">
	        	<label class="col-sm-4 control-label">Filter Name</label>
						<div class="col-sm-6">
						  <input type="text" class="form-control" id="new-name" placeholder="Filter Name">
						</div>
	        </div>  
          <% @filter_object.filter_elements.each do |filter_element| %>
          <div class="form-group">
            <%= label_tag filter_element.element_name, filter_element.display_name, class: "col-sm-4 control-label" %>
            <div class="col-sm-6">
	            <select class="form-control chosen-select" id="new-<%= filter_element.element_name  %>" name="<%= filter_element.element_name  %>" multiple="multiple" >
		          <% filter_element.filter_options.each do |fo| %>
		            <option value="<%= fo.try(:id) %>"><%= fo.try(:name)%> </option>
							<% end %>
							</select>
            </div>  
            <div class="col-sm-2">
              <input type="checkbox" id="chbx-<%= filter_element.element_name %>">
            </div>
          </div>
        <% end %>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="javascript:runFilter('newFilterForm')">Filter</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="javascript:createAndRunFilter()">Filter and Save</button>
      </div>
    </div>
  </div>
</div>


<div id="savedFilter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	        <span aria-hidden="true"> &times; </span>
	      </button>
        <h4 class="modal-title">Edit Filter </h4>
      </div>
      <div class="modal-body"> 
        <form class="form-horizontal" id="savedFilterForm">
	        <div class="form-group">
	        	<label class="col-sm-4 control-label">Filter Name</label>
						<div class="col-sm-6">
						  <input type="text" class="form-control" id="saved-name" placeholder="Filter Name">
						</div>
	        </div>  
          <% @filter_object.filter_elements.each do |filter_element| %>
          <div class="form-group">
            <%= label_tag filter_element.element_name, filter_element.display_name, class: "col-sm-4 control-label" %>
            <div class="col-sm-6">
              <%= select_tag filter_element.element_name, filter_element.filter_select_options.html_safe, multiple: filter_element.multiselectable, class: 'form-control chosen-select', id: "saved-"+filter_element.element_name  %>
            </div>  
            <div class="col-sm-2">
              <input type="checkbox" id="chbx-<%= filter_element.element_name %>">
            </div>
          </div>
          <% end %>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="javascript:runFilter('savedFilterForm')">Filter</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="javascript:updateAndRunFilter()">Filter and Save</button>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript" charset="utf-8">

var baseSavedSearchCriteriaUrl = "/saved_search_criteria";


function createSearchParametersHash(formId){
	console.log("constructing parameter hash");
	var filterFormFields = $("#" + formId + " select").serializeArray();
	var search_parameters = {};
	filterFormFields.forEach(function(formField) {
		console.log(formField.name + " : " + formField.value);
		if (search_parameters[formField.name] == undefined) {
		  search_parameters[formField.name.replace("[]","")] = formField.value; 	
		}
		else {
			search_parameters[formField.name.replace("[]","")] = search_parameters[formField.name] + ',' + formField.value ;
		}
	});
	return search_parameters;
}

function constructUrl(searchParameters){
	var url = baseUrl;
	for (var key in searchParameters) {
		if (searchParameters.hasOwnProperty(key)) {
		  url += key + "=" + searchParameters[key] + "&";	
		};
	};	
	return url;
}

function getData(url){
  $.get(url, function(data){
	  if (typeof(data) != "object") {
	    serverData = $.parseJSON(data);
	  } 
	  else {
	    serverData = data;
	  }
    resetChartData();
	});	
}

function runFilter(formId){
	console.log("initiating search");
	var searchParameters = createSearchParametersHash(formId)
	var url = constructUrl(searchParameters);
	getData(url);   	
}

function initSavedSearchCriterium(){
  saved_search_criterium = {name: $("#new-name").val(), 
														page: '<%= @page %>', 
														organization_id: <%= @user_org.id %>};
  saved_search_criterium.search_parameters = 	createSearchParametersHash('newFilterForm');
  return saved_search_criterium;
}

function createAndRunFilter(){
	savedCriterium = initSavedSearchCriterium();
	$.ajax({
		type: "POST",
		url: baseSavedSearchCriteriaUrl,
		data: {saved_search_criterium: savedCriterium},
		success: function(data){
			if (typeof(data) != "object") {
		    savedCriterium = $.parseJSON(data);
		  } 
		  else {
		    savedCriterium = data;
		  }
		  var savedCriteriaDropDown = $("#saved_search_criterium_id");
		  savedCriteriaDropDown.append('<option value="' + savedCriterium.id  + '">' + savedCriterium.name + '</option>');
		  savedCriteriaDropDown.val(savedCriterium.id);
			var url = constructUrl(savedCriterium.search_parameters);
			cleanAndResetQuickFilter(savedCriterium);
			getData(url);
		}
	});
}

function updateAndRunFilter(){
	savedCriterium.search_parameters = createSearchParametersHash('savedFilterForm');
	savedCriterium.name = $("#saved-name").val();
	var urlToSave = baseSavedSearchCriteriaUrl + "/" + savedCriterium.id
	$.ajax({
		type: "PUT",
		url: urlToSave,
		data: {saved_search_criterium: savedCriterium},
		success: function(data){
			if (typeof(data) != "object") {
		    savedCriterium = $.parseJSON(data);
		  } 
		  else {
		    savedCriterium = data;
		  }
		  $("#saved_search_criterium_id option:selected").text(savedCriterium.name);
			var url = constructUrl(savedCriterium.search_parameters);
			cleanAndResetQuickFilter(savedCriterium);
			getData(url);			
		}
	});
}


function populateFilterValues(){
	$("#saved-name").val(savedCriterium.name);
	$.each(savedCriterium.search_parameters, function(k,v){
	  $("#saved-" + k).val(v.split(',')).trigger('chosen:updated');		
	});
}


$(function() {
	
	$("#newFilter").on('shown.bs.modal', function (){
	  <% @filter_object.filter_elements.each do |filter_element| %>
	  $("#new-<%= filter_element.element_name %>").chosen('destroy').chosen({search_contains: true});
	  <% if filter_element.enabled_for_quick_filter %>
		$("#chbx-<%= filter_element.element_name %>").prop('checked', true);
		<% end %>
	  <% end %>  				
	});


	$("#savedFilter").on('shown.bs.modal', function (){
	  <% @filter_object.filter_elements.each do |filter_element| %>
	  $("#saved-<%= filter_element.element_name %>").chosen('destroy').chosen({search_contains: true});
	  <% if filter_element.enabled_for_quick_filter %>
		$("#chbx-<%= filter_element.element_name %>").prop('checked', true);
		<% end %>
	  <% end %>
		
		populateFilterValues();
	  				
	});
  

});	

</script>