<!-- top bar -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">SCV Cumulative Views Demo</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-pencil-square-o fa-fw"></i>  <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Order Line Lookup", lookup_order_lines_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Order Line Upload", file_upload_order_lines_path %></li>
          </ul>
        </li>

        <!-- dropdown shipments -->
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	        <i class="fa fa-truck fa-fw"></i><i class="fa fa-caret-down"></i>
	      </a>
	      <ul class="dropdown-menu" role="menu">
          <li><%= link_to "Shipment Line Lookup", lookup_shipment_lines_path %></li>
          <li class="divider"></li>
          <li><%= link_to "Shipment Line Upload", file_upload_shipment_lines_path %></li>
        </ul>
      </li>

      <!-- dropdown inventory -->
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	        <i class="fa fa-home fa-fw"></i><i class="fa fa-caret-down"></i>
	      </a>
	      <ul class="dropdown-menu" role="menu">
          <li><%= link_to "Inventory Lookup", lookup_inventory_projections_path %></li>
          <li class="divider"></li>
          <li><%= link_to "Inventory Matrix", matrix_inventory_projections_path %></li>
          <li class="divider"></li>
          <li><%= link_to "Inventory Upload", file_upload_inventory_projections_path %></li>
        </ul>
  
      </li>


      <!-- dropdown exceptions-->
      <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-exclamation-triangle fa-fw"></i>  <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Exceptions Listing", scv_exceptions_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Exceptions Upload", file_upload_scv_exceptions_path %></li>
          </ul>
      </li>

      <!-- dropdown config -->
      <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-wrench fa-fw"></i>  <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Users", users_path  %></li>
            <li class="divider"></li>
            <li><%= link_to "Product Categories", product_categories_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Products", lookup_products_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Locations", locations_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Location Groups", location_groups_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Organizations", organizations_path %></li>	
          </ul>

      </li>
      <!-- dropdown user -->
      <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-user">
              <li><a href="/users/<%= @user.id %>"><i class="fa fa-user fa-fw"></i> User Profile</a>
              </li>
              <li class="divider"></li>
              <li><a href="/login/logout" data-method="post" rel="nofollow"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
              </li>
          </ul>
      </li>
      </ul>
    </div><!--/.nav-collapse -->
</div><!--/.navbar -->
<!-- /top bar -->
