<div id="filter">
  <h3 class="text-center">Filter </h3>
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-md-2 control-label"><small>Origin Group</small></label> 
      <div class="col-sm-10">
        <%= select_tag "origin_loc_groups", options_from_collection_for_select(@location_groups, "id", "name"), multiple: true, class: 'form-control chosen-select input-sm' %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label"><small>Origin Locations</small></label> 
      <div class="col-sm-10">
        <%= select_tag "origin_locs", options_from_collection_for_select(@locations, "id", "name"), multiple: true, class: 'form-control chosen-select input-sm' %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label"><small>Dest. Group</small></label>
      <div class="col-sm-10">
        <%= select_tag "dest_loc_groups", options_from_collection_for_select(@location_groups, "id", "name"), multiple: true, class: 'form-control chosen-select' %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label"><small>Dest. Locations</small></label> 
      <div class="col-sm-10">
        <%= select_tag "dest_locs", options_from_collection_for_select(@locations, "id", "name"), multiple: true, class: 'form-control chosen-select input-sm' %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label"><small>Products</small></label>
      <div class="col-sm-10">
        <%= select_tag "prod_groups", options_from_collection_for_select(@product_categories, "id", "name"), multiple: true, class: 'form-control chosen-select' %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label"><small>Products</small></label>
      <div class="col-sm-10">
        <%= select_tag "prod_groups", options_from_collection_for_select(@product_categories, "id", "name"), multiple: true, class: 'form-control chosen-select' %>
      </div>
    </div>


    <div class="form-group">
      <label class="col-md-2 control-label"><small>Supplier</small></label>
      <div class="col-sm-10">
        <%= select_tag "suppliers", options_from_collection_for_select(@user_org.suppliers, "id", "name"), multiple: true, class: 'form-control chosen-select' %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-6">
        <select id="order_date_attribute" class="form-control input-sm">
           <option value="created_at">Order Date</option>
           <option value="accepted">Accepted Date</option>
           <option value="etd">Ship Date</option>
           <option value="eta">Delivery Date</option>
        </select>        
      </div>
      <label class="col-md-2 control-label"><small>By</small></label>
      <div class="col-sm-4">
        <%= text_field_tag "date_field", "", class: "form-control input-sm" %>
      </div>
    </div>
    <button type="button" class="btn btn-primary">Refresh</button>
  </form>
</div>


<script type="text/javascript">
  $("#origin_loc_groups").chosen({search_contains: true});
  $("#dest_loc_groups").chosen({search_contains: true}); 
  $("#prod_groups").chosen({search_contains: true});
  $("#suppliers").chosen({search_contains: true});
  $("#date_field" ).datepicker({minDate: 0, dateFormat: "yy-mm-dd"});
</script>
<style>
  #filter {
    border:solid 2px black;
    background-color: #dddddd;  
    border-radius: 10px;
  }

</style>
