
<div id="highcart_container"></div>
<div id="report" style="font: 0.8em sans-serif"></div>
<script type="text/javascript" src="http://code.highcharts.com/stock/highstock.src.js"></script>
<script type="text/javascript" src="http://code.highcharts.com/stock/modules/exporting.src.js"></script>
<script type="text/javascript" src="http://code.highcharts.com/highcharts.src.js"></script>
<script type="text/javascript" src="https://rawgithub.com/d-nation/highstock-beyond-extremes/master/beyond-extremes.js"></script>
<script type="text/javascript">

$(function () {
  $('#highcart_container').highcharts('StockChart',{
    chart: {
      height: 500
    },
    rangeSelector: {
      selected: 1,
      beyondExtremes: true
    },
    title: {
      text: 'Inventory Projections'
      //enabled: false
    },
    subtitle: {
      text: document.ontouchstart === undefined ? 'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
    },
    legend: {
      enabled: true
    },
    xAxis: {
      type: 'datetime',
      events: {
        setExtremes: function(e) {
   			/*Could fetch new data for the new extremes here*/                    
           $('#report').html('<b>Set extremes:</b> e.min: '+ Highcharts.dateFormat(null, e.min) + ' | e.max: '+ Highcharts.dateFormat(null, e.max) + ' | e.trigger: ' + e.trigger);
	}
      },
      ordinal: false,
      minRange: 2 * 24 * 3600000 // 2 days
    },
    yAxis: [
      {title: {text: 'Quantity'}, opposite: false}
    ],
    tooltip: {
      shared: false
    },
	series: [
          <% @series_data.each do |series| %>  
	    {type: 'spline',
            name: '<%= series[:product].try(:code) %>',
            pointInterval: 24 * 3600 * 1000,
            pointStart: Date.UTC(<%= series[:begin_date].year %>, <%= series[:begin_date].month - 1%>, <%= series[:begin_date].day %>, 12,0),
            marker: {enabled: false},
            data: <%= series[:data] %>
            }
            <% unless series == @series_data.last %>
              ,
            <% end %> 
          <% end %>
	]
  });
});
</script>
	  
	  
	  
