<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">SCV Demo</a>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li> <%= link_to "Dashboard", dashboard_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Exceptions <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Exceptions Listing", scv_exceptions_path %></li>
            <li><%= link_to "Exceptions Upload", file_upload_scv_exceptions_path %></li>
          </ul>
        </li>        
        <li> <%= link_to "Milestone Uploads", file_upload_milestones_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Shipment Lines <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Shipment Line Lookup", lookup_shipment_lines_path %></li>
            <li><%= link_to "Shipment Line Upload", file_upload_shipment_lines_path %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Order Lines <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Order Line Lookup", lookup_order_lines_path %></li>
            <li><%= link_to "Order Line Upload", file_upload_order_lines_path %></li>
          </ul>
        </li> 
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Inventory <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Inventory Lookup", lookup_inventory_projections_path %></li>
            <li><%= link_to "Inventory Upload", file_upload_inventory_projections_path %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Configuration <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Users", users_path  %></li>
            <li><%= link_to "Products", lookup_products_path %></li>
            <li><%= link_to "Locations", locations_path %></li>
            <li><%= link_to "Location Groups", location_groups_path %></li>
            <li><%= link_to "Organizations", organizations_path %></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Log Out", login_logout_path, method: :post %></li> 
     </ul>
    </div>

  </div>
</div>
