<h1> Order Lines</h1>

<div class="container-fluid">

<select id="form_criteria">
  <option value="order_line_number">Order Line Number</option>
  <option value="order_type">Order Type</option>
  <option value="product">Product</option>
  <option value="origin_location">Origin Location</option>
  <option value="destination_location">Destination Location</option>
  <option value="supplier">Supplier</option>
  <option value="customer">Customer</option>
</select> 
<button type="button" class="btn btn-primary" onclick="addCriteria()">
  <span class="glyphicon glyphicon-plus">
</button>

<%= form_for :order_line, url: lookup_order_lines_path, html: {class: "form-horizontal"}   do |form| %>
  <div id ="search_params">
    <%= form.hidden_field :is_active, value: true %>
  </div>
  
  <%= form.submit "Search", {class: "btn btn-primary", id: "submit_search_form"} %>
<% end %>
</div>
<br \>
<hr>
<br \>
<% if request.post? %>

  <% if @order_lines.empty? %>
    <p>No Order Lines match your search criteria.</p>
  <% else %>
    <table class="table table-striped">
      <tr><th>Customer Organization</th> <th>Supplier Organization</th><th>Order Line Number </th> <th>ETD</th> <th>ETA</th> <th>Product</th> <th>Origin Location </th> <th>Destination Location</th> <th>Quantity</th></tr>
        <% @order_lines.each do |order_line| %>
          <tr><td><%= order_line.customer_organization_name %></td>
              <td><%= order_line.supplier_organization_name %></td>
              <td><%= order_line.order_line_number %></td>
              <td><%= order_line.etd.to_formatted_s(:short) %></td>
              <td><%= order_line.eta.to_formatted_s(:short) %></td>
              <td><%= order_line.product.name %></td>
              <td><%= order_line.origin_location.try(:name) %></td>
              <td><%= order_line.destination_location.try(:name) %></td>
              <td><%= order_line.quantity.to_s        %></td>
              <td><%= link_to "Details", order_line_path(order_line)  %></td>
              <td><%= link_to "Edit", edit_order_line_path(order_line) %></td>
              </tr>
        <% end %>
    </table %>
  <% end %>
<% end %>
<br /> <br />
<%= link_to "Create New Order Line", new_order_line_path %>
<br /> <br />
<script>
$(function() {
    var product_names = [
      <% @products.each do |product| %>
        "<%= product.name %>",
      <% end %>
    ""];
    $( "#product_names" ).autocomplete({
      source: product_names
    });
});
</script>

<script type="text/javascript">
 
  function checkExistingElement(form_element) {
    var form_selector = '#' + form_element;
    if ( $(form_selector).length == 0)
    {
      return false;
    }
    else
    {
      return true;
    }
  }
 
  function addCriteria() {
    var criteriaType = $('#form_criteria').val();
	switch(criteriaType) {
	  case "order_line_number":
	    addOrderLineCriteria();
            break;
          case "order_type":
            addOrderTypeCriteria(); 
            break;
	  case "product":
	    addProductCritera();
            break;
	  case "origin_location":
	    addOriginLocationCriteria();
            break;
	  case "destination_location":
	    addDestinationLocationCriteria();
            break;
	  case "supplier":
	    addSupplierCriteria();
            break;
	  case "customer":
	    addCustomerCriteria();
            break;
	}
  }
  
  function addOrderLineCriteria() {

    var elementExists = checkExistingElement('order_line_order_line_number');
    if (elementExists) {
      null;
    }
    else {    
      var htmlToAdd = '<div class="form-group" id="order_line_div"><label class="col-sm-2 control-label" for="order_line_Line Number">Line number</label><div class="col-sm-2"><input class="form-control" id="order_line_order_line_number" name="order_line[order_line_number]" type="text" /></div><button type="button" class="btn btn-warning" onclick="removeCriteria(\'order_line_div\')"><span class="glyphicon glyphicon-minus"></button></div>';
      $('#search_params').append(htmlToAdd);
      var movement_sources = [
      <% @all_order_lines.each do |ol| %>
          "<%= ol.order_line_number %>",
      <% end %>
      ""];
      $( "#order_line_order_line_number" ).autocomplete({source: movement_sources});
    }
  }

  function addProductCritera() {
    var elementExists = checkExistingElement('product_names');
    if (elementExists) {
      null;
    }
    else {
      var htmlToAdd = '<div class="form-group" id="product_div"><label class="col-sm-2 control-label" for="order_line_Product Name">Product name</label><div class="col-sm-2"><input class="form-control" id="product_names" name="order_line[product_name]" type="text" /></div><button type="button" class="btn btn-warning" onclick="removeCriteria(\'product_div\')"><span class="glyphicon glyphicon-minus"></button></div>';
      $('#search_params').append(htmlToAdd);
      var product_names = [
      <% @products.each do |product| %>
        "<%= product.name %>",
      <% end %>
    ""];
    $( "#product_names" ).autocomplete({
      source: product_names
    });

    } 
  }
  
  function addOriginLocationCriteria() {
    var elementExists = checkExistingElement('order_line_origin_location_id');
    if (elementExists) {
      null;
    }
    else {
      var htmlToAdd = '<div class="form-group" id="origin_location_div"><label class="col-sm-2 control-label" for="order_line_Origin Location">Origin location</label><div class="col-sm-2"><select class="form-control" id="order_line_origin_location_id" name="order_line[origin_location_id]">';
      <% @locations.each do |location| %>
        htmlToAdd += '<option value="' + '<%= location.id.to_s %>' + '">' + '<%= location.name %>' + '</option>';
      <% end %>
      htmlToAdd += '</select></div><button type="button" class="btn btn-warning" onclick="removeCriteria(\'origin_location_div\')"><span class="glyphicon glyphicon-minus"></button></div>';
      $('#search_params').append(htmlToAdd);
    }
  }
  
  function addDestinationLocationCriteria() {
    var elementExists = checkExistingElement('order_line_destination_location_id');
    if (elementExists) {
      null;
    }
    else {
      var htmlToAdd = '<div class="form-group" id="destination_location_div"><label class="col-sm-2 control-label" for="order_line_Destination Location">Destination location</label><div class="col-sm-2"><select class="form-control" id="order_line_destination_location_id" name="order_line[destination_location_id]">';
      <% @locations.each do |location| %>
        htmlToAdd += '<option value="' + '<%= location.id.to_s %>' + '">' + '<%= location.name %>' + '</option>';
      <% end %>
      htmlToAdd += '</select></div><button type="button" class="btn btn-warning" onclick="removeCriteria(\'destination_location_div\')"><span class="glyphicon glyphicon-minus"></button></div>';
      $('#search_params').append(htmlToAdd);	
    }
  }

  function addSupplierCriteria() {
    var elementExists = checkExistingElement('order_line_supplier_organization_id');
    if (elementExists) {
      null;
    }
    else {
      var htmlToAdd = '<div class="form-group" id="supplier_div"><label class="col-sm-2 control-label" for="order_line_Supplier">Supplier</label><div class="col-sm-2"><select class="form-control" id="order_line_supplier_organization_id" name="order_line[supplier_organization_id]">';
      <% @organizations.each do |org| %>	  
        htmlToAdd +=  '<option value="' + '<%= org.id.to_s %>' + '">' + '<%= org.name %>' + '</option>';   
      <% end %>
      htmlToAdd += '</select></div><button type="button" class="btn btn-warning" onclick="removeCriteria(\'supplier_id_div\')"><span class="glyphicon glyphicon-minus"></button></div>';
      $('#search_params').append(htmlToAdd);	
    }
  }
  
  function addCustomerCriteria() {
    var elementExists = checkExistingElement('order_line_customer_organization_id');
    if (elementExists) {
      null;
    }
    else {
      var htmlToAdd = '<div class="form-group" id="customer_div"><label class="col-sm-2 control-label" for="order_line_Customer">Customer</label><div class="col-sm-2"><select class="form-control" id="order_line_customer_organization_id" name="order_line[customer_organization_id]">';
      <% @organizations.each do |org| %>	  
        htmlToAdd +=  '<option value="' + '<%= org.id.to_s %>' + '">' + '<%= org.name %>' + '</option>';   
      <% end %>
      htmlToAdd += '</select></div><button type="button" class="btn btn-warning" onclick="removeCriteria(\'customer_div\')"><span class="glyphicon glyphicon-minus"></button></div>';
      $('#search_params').append(htmlToAdd);		  
    }
  }

  function addOrderTypeCriteria() {
    var elementExists = checkExistingElement('order_line_order_type');
    if (elementExists) {
      null;
    }
    else {
      var htmlToAdd = '<div class="form-group" id="order_type"><label class="col-sm-2 control-label" for="order_line_Order Type">Order Type</label><div class="col-sm-2"><select class="form-control" id="order_line_order_type" name="order_line[order_type]">';
      <% OrderLine.order_types.each do |ot| %>
        htmlToAdd +=  '<option value="' + '<%= ot %>' + '">' + '<%= ot.titleize %>' + '</option>';
      <% end %>
      htmlToAdd += '</select></div><button type="button" class="btn btn-warning" onclick="removeCriteria(\'order_type\')"><span class="glyphicon glyphicon-minus"></button></div>';
      $('#search_params').append(htmlToAdd);
    }
  }


  function removeCriteria(form_element) {
    var form_selector = '#' + form_element;
    $(form_selector).remove();
  }

  
</script>
