<p id="notice"><%= notice %></p>

<p>
  <strong>Order line number:</strong>
  <%= @order_line.order_line_number %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order_line.quantity %>
</p>

<p>
  <strong>Eta:</strong>
  <%= @order_line.eta %>
</p>

<p>
  <strong>Etd:</strong>
  <%= @order_line.etd %>
</p>

<p>
  <strong>Origin location:</strong>
  <%= @order_line.origin_location_id %>
</p>

<p>
  <strong>Destination location:</strong>
  <%= @order_line.destination_location_id %>
</p>

<%= link_to 'Edit', edit_order_line_path(@order_line) %> |
<%= link_to 'Back', order_lines_path %>
