<p id="notice"><%= notice %></p>
<h1>Organization </h1>
<dl class="dl-horizontal">

  <dt>Name:</dt>  <dd><%= @organization.name %></dd>
  <dt>Address:</dt> <dd><%= @organization.address %></dd>
  <dt>City:</dt> <dd><%= @organization.city %></dd>
  <dt>State:</dt> <dd><%= @organization.state %></dd>
  <dt>Country:</dt> <dd><%= @organization.country %></dd>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
