<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>

<script type="text/javascript">
$(function () {
    $('#container').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 1,//null,
            plotShadow: false
        },
        title: {
            text: 'Exception Type Breakdown'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Exception Type',
            data: [
                ['Source',   <%= @location.inbound_order_line_exceptions.count %>],
                ['Make', <%= @location.work_order_exceptions.count %>],
                ['Move', <%= @location.inbound_shipment_line_exceptions.count %>],
                ['Store', <%= @location.inventory_exceptions.count %>],
                ['Deliver', <%= @location.outbound_order_line_exceptions.count %>]
            ]
        }]
    });
});

</script>
