<h1><%= @scv_category %> Category Breakdown </h1>

  <% if @scv_category == "Move" %>
  <div class="container-fluid jumbotron">
    <%= render partial: "shipment_mode_summary" %>>
  </div>
  <% end %>

  <div class="container-fluid jumbotron">
    <%= render partial: "totals_vs_exceptions_matrix" %>
  </div>

  <div class="container-fluid jumbotron">
    <%= render partial: "product_category_breakdown" %>  
  </div>
  
  <div class="container-fluid jumbotron">
    <%= render partial: "location_group_breakdown" %>
  </div> 
  
