<h1>Products</h1>
<h4>Please enter your search criteria </h4>

<div class="container-fluid">
  <%= form_for :product, url: lookup_products_path, html: {class: "form-horizontal"}   do |form| %>
    <%= form.hidden_field :organization_id, value: @user.organization_id %>
    <div class="form-group">
      <%= form.label "Product Name", class: "col-sm-2 control-label"%>  
      <div class="col-sm-2">
        <%= form.text_field :name, class: "form-control" %> 
      </div>
      <%= form.label "Product Code", class: "col-sm-2 control-label" %>
      <div class="col-sm-2">
        <%= form.text_field :code, class: "form-control" %>     
      </div>
      <%= form.label "Product Category", class: "col-sm-2 control-label" %>
      <div class="col-sm-2">
        <%= form.select :product_category_id, @user.organization.product_categories.collect {|pc| [pc.name, pc.id]}, {include_blank: true}, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-1"></div>
      <div class="col-sm-1">
        <%= submit_tag "Search", {class: "btn btn-primary"} %>
      </div>
    </div>
  <% end %>
</div>
<br \>
<hr>
<br \>
<% if request.post? %>
  <% if @products.empty? %>
    <p>No products match your search criteria </p>
  <% else %>
    <div class="row">
      <table class="table table-striped">
        <tr><th>Product Name</th><th>Product Code</th><th>Product Category</th><th>Unit Weight (KG)</th><th>Unit Vol. (CBM)</th><th>Unit Cost</th></tr>
        <% for product in @products %>
        <tr><td><%= product.name %></td>
          <td><%= product.code %></td>
          <td><%= product.product_category.try(:name) 	%></td>
					<td><%= product.unit_weight										%></td>
					<td><%= product.unit_volume										%></td>
					<td><%= number_to_currency(product.unit_cost)	%></td>
          <td><%= link_to "Edit", edit_product_path(product) %></td>
          <% if product.deleteable? %>
           <td><%= button_to "Destroy", product_path(product), method: :delete %></td>
          <% end %>
        </tr>
        <% end %>
      </table>
    </div>
  <% end %>
<% end %>


<%= link_to "Add New Product", new_product_path %>

