<!DOCTYPE html>
<html>
<head>
  <title>Apocalypsealert</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'sb-admin-2' %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper"> 
    <%= render partial: "shared/aggregations_menu" %>
 	  <% if notice %>
		<div class="alert alert-danger" role="alert"><p><%= notice %></p></div>
		<% end %>
		<%= yield %>
	</div>
</body>
</html>
