<!DOCTYPE html>
<html>
<head>
  <title>Apocalypsealert</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <%= render partial: "shared/main_menu" %>
  <div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <%= render partial: "shared/filter_menu" %>
    </div>
    <% if notice %>
      <div class="alert alert-danger" role="alert"><p><%= notice %></p></div>
    <% end %>
    <!-- /Sidebar -->    

    <!-- Page content -->
    <div class="page-content-wrapper">
      <%= yield %>
    </div>
    <!-- /Page content -->
  </div>
   
</body>
</html>
